.form__block
	display: flex
	flex-direction: column

.form-error
	margin-top: 4px
	font-size: .65vw
	line-height: .85vw
	color: #EA2F2F

.label
	font-size: .8vw
	line-height: 1.3vw
	color: $darkgrey

.input,
.textarea
	border: 2px solid #E7EEFF
	background: #E7EEFF
	border-radius: 4px
	outline: none
	font-size: .8vw
	padding: .55vw .8vw
	width: 19.3vw
	transition: 0.35s

.textarea
	height: 9.3vw
	resize: none

.input:focus,
.textarea:focus
	border-color: #1968B3
	background: #E7EEFF

.required
	color: #EA2F2F

.form__block
	margin-bottom: 0.81vw